#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

#calc-container {
    border: solid black 3px;
    padding: 0.5rem;
}

#btn-frame {
    border: solid blue 2px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


#display-container {
    display: flex;
    flex-direction: column;
    border: solid red 1px;
    background-color: rgb(47, 47, 47);
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    height: 5.5rem;
    font-size: 2.4rem;
}


button {
    margin: 0.1rem;
    height: 4.5rem;
    width: 5rem;
}

.op-btns {
    background-color: orange;
}

.number-btns {
    background-color: rgb(86, 183, 228);
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 10rem;
}

#equals {
    background-color: green;
}

#clear {
    background-color: hotpink;
}