body {
    background-color: rgb(252, 243, 229);
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13rem;
}

#calc-container {
    border: solid black 3px;
    border-radius: 1.5rem;
    background-color: #bde0fe;
    padding: 0.6rem;
}

#btn-frame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 400px;
}


#display-container {
    height: 6rem;
    display: flex;
    flex-direction: column;
    border: solid rgb(0, 0, 0) 1.9px;
    border-radius: 1rem;
    background-color: #f5e6ec;
    color: rgb(1, 0, 0);
    padding: 0.5rem 1.2rem;
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
}

#display-result {
    display: flex;
    justify-content: flex-end;
    font-size: 2.8rem;
}


button {
    margin: 0.1rem;
    height: 4.7rem;
    width: 4.9rem;
    border-radius: 0.5rem;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.op-btns {
    background-color: #ffafcc;
}

.op-btns:hover {
    background-color: #f6c5d7;
}

.number-btns {
    background-color: #cdb4db;
}

.number-btns:hover {
    background-color: #d6c6df;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 10rem;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 10rem;
    background-color: #ffc8dd;
}

#clear:hover {
    background-color: #f8d3e1;
}

#profileLink {
    font-style: none;
    color: rgb(74, 31, 118);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}